[submodule "vendor/bin/premake"]
	path = vendor/bin/premake
	url = ../premake.git # https://github.com/feacur/premake
	branch = master
[submodule "GameEngineStudy/vendor/spdlog"]
	path = GameEngineStudy/vendor/spdlog
	url = ../../gabime/spdlog.git # https://github.com/gabime/spdlog
	branch = v1.x
[submodule "GameEngineStudy/vendor/GLFW"]
	path = GameEngineStudy/vendor/GLFW
	url = ../../glfw/glfw.git # https://github.com/glfw/glfw
	branch = master
[submodule "GameEngineStudy/vendor/imgui"]
	path = GameEngineStudy/vendor/imgui
	url = ../../ocornut/imgui.git # https://github.com/ocornut/imgui
	branch = docking
[submodule "GameEngineStudy/vendor/glm"]
	path = GameEngineStudy/vendor/glm
	url = ../../g-truc/glm.git # https://github.com/g-truc/glm
	branch = master
