[submodule "vendor/premake"]
	path = vendor/premake
	url = ../premake.git # https://github.com/feacur/premake
	branch = master
[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = ../../gabime/spdlog.git # https://github.com/gabime/spdlog
	branch = v1.x
[submodule "Engine/vendor/GLFW"]
	path = Engine/vendor/GLFW
	url = ../../glfw/glfw.git # https://github.com/glfw/glfw
	branch = master
[submodule "Engine/vendor/imgui"]
	path = Engine/vendor/imgui
	url = ../../ocornut/imgui.git # https://github.com/ocornut/imgui
	branch = docking
[submodule "Engine/vendor/glm"]
	path = Engine/vendor/glm
	url = ../../g-truc/glm.git # https://github.com/g-truc/glm
	branch = master
