[submodule "GameEngineStudy/vendor/spdlog"]
	path = GameEngineStudy/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "vendor/bin/premake"]
	path = vendor/bin/premake
	url = https://github.com/Feacur/premake
	branch = master
[submodule "GameEngineStudy/vendor/GLFW"]
	path = GameEngineStudy/vendor/GLFW
	url = https://github.com/glfw/glfw
	branch = master
[submodule "GameEngineStudy/vendor/imgui"]
	path = GameEngineStudy/vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "GameEngineStudy/vendor/glm"]
	path = GameEngineStudy/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master
